[Unit]
Description=Delayed selinux initialization script for OpenShift Origin
After=syslog.target network.target
Before=openshift-origin-broker.service openshift-origin-console.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/oo-selinux-setup

[Install]
WantedBy=multi-user.target
