[Unit]
Description=Delayed mongo initialization script for OpenShift Origin
After=syslog.target network.target mongod.service
Before=openshift-origin-broker.service openshift-origin-console.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/sbin/oo-mongo-setup

[Install]
WantedBy=multi-user.target
